:root {
    --principalfont: 'Outfit', sans-serif;
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: var(--principalfont);
    font-size: 0.9375rem;
    font-weight: 400;
    background-color: var(--Light-gray);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    max-width: 20em;
    background-color: var(--White);
    padding: 1.5em;
    text-align: center;
    box-shadow: 0px 2px 10px 5px rgba(0 0 0 / 0.2);
}
.card__image {
    width: 100%;
}
.card, .card__image {
    border-radius: 0.625em;
}
.card__title {
    font-size: 1.2rem;
    padding: 0 .8em;
    font-weight: 700;
    color: var(--Dark-blue);
}
.card__text {
    color: var(--Grayish-blue);
}
.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}